<div class="toolbar-container toolbar-flex-container">
  <div>
    <button pButton pRipple type="button" icon="pi pi-file" class="p-button-rounded" (click)="handleExport(fileType.Csv)"></button>
    <button pButton pRipple type="button" disabled icon="pi pi-file-excel" class="p-button-rounded p-button-secondary" (click)="handleExport(fileType.Excel)"></button>
    <button pButton pRipple type="button" disabled icon="pi pi-file-pdf" class="p-button-rounded p-button-success" (click)="handleExport(fileType.Pdf)"></button>

    <emp-multi-select
        *ngIf="showColumnSelectionDropDown"
        [options]="columns"
        optionLabel="header"
        optionValue="field"
        placeholder="Select Columns"
        selectedItemsLabel="columns"
        (changeSelection)="handleColumnSelectionChange($any($event))"
      ></emp-multi-select>
  </div>
  <div>
    <button pButton pRipple type="button" icon="pi pi-filter" class="p-button-rounded p-button-warning" (click)="handleFilterReset()"></button>
    <button *ngIf="showCreateIcon" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-help" (click)="handleCreate()"></button>
  </div>
</div>
